<div class="container-fluid mt-8 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p></p>
            <p></p>
            <p class="text-center sub-heading"> 
                grow your business with us
            </p>
                <div class="row">
                     <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
                    <figure>
                      <img src="images/silk.gif" width="500" alt="herosection_image">  
                    </figure>
                </div> 
                {{!--right side--}}
                    <div class="col-md-6 col-12 hero-text mt-4">
                  
                <p></p>
                         <p>We are team of developers with the motive to provide
                            our clients with the best digital solutions to boost their business.
                         </p>
                        
                    </div>
               
                </div>
                

            </div>
        </div>
    </div>
