<div class="container-fluid mt-8 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">
        grow your business with us
      </p>
      <div class="row">
      <div class="col-md-4">
          <div class="box">
              <div class="our-services Mobile Application">
                  <div class="icon">
                    <img src="images/apps-unscreen.gif" width="160px" alt="">
                  </div>
                  <h4>Mobile Application</h4>
                  <p>Applications for all your digital solutions</p>
              </div>

          </div>

      </div>
       <div class="col-md-4">
          <div class="box">
              <div class="our-services Websites">
                  <div class="icon">
                    <img src="images/website2.gif" width="160px" alt="">
                  </div>
                  <h4>Websites</h4>
                  <p>Give customers a world-class experience</p>
              </div>

          </div>

      </div>
       <div class="col-md-4">
          <div class="box">
              <div class="our-services DigitalMarketing">
                  <div class="icon">
                    <img src="images/market3-unscreen.gif" width="200px"  alt="">
                  </div>
                  <h4>Digital Marketing</h4>
                  <p>Make your business more visible to others</p>
              </div>

          </div>

      </div>
       {{!-- <div class="col-md-4">
          <div class="box">
              <div class="our-services UI/UX">
                  <div class="icon">
                    <img src="images/uiux.png" width="100" alt="">
                  </div>
                  <h4>UI/UX</h4>
                  <p>Everyone realizes the importance of good looks!</p>
              </div>

          </div>

      </div> --}}


      </div>
    </div>
  </div>
</div>